<link rel="preload" href="{{ 'style.css' | asset_url }}" as="style">

<style>
    .cardTex{
        border: none;
    }
    .titl{
        color:rgb(27, 27, 27);
        font-size:24px;
        font-weight:400;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
        height: 30px;
        margin-bottom: 1em;
    }
    .tex{
        color:rgb(94, 94, 94);
        font-size:20px;
        font-style:normal;
        font-weight:300;
        margin-bottom: 1em;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    }
    .boton{
        background-color:rgb(0, 117, 193);
        font-size:16px;
        font-weight:700;
        margin-bottom: 1em;
    }
</style>

<div id="shopify-section-{{ section.id }}" class="shopify-section my-5">
    <div class="page-width">
        <div class="cardTex text-center">

            <div class="card-body">
                <h5 class="card-title titl">{{ section.settings.title_1 }}</h5>
                <p class="card-text tex">{{ section.settings.text_1 }}</p>
                <a href="#" class="btn boton">SABER MÁS</a>
            </div>

        </div>
    </div>
</div>


{% schema %}
{
    "name": "z-textBtn",
    "settings": [
        {
            "type": "text",
            "id": "title_1",
            "label": "title_1",
            "default": "title_1"
        },
        {
            "type": "text",
            "id": "text_1",
            "label": "text_1",
            "default": "text_1"
        }
    ],	
    "presets": [
        {
        "name": "z-textBtn",
        "category": "Z"
    }
  ]
}
{% endschema %}