<div class="page-width">
  <div class="grid">
    {% section 'hero' %}
    {% section 'img-left' %}
    {% section 'img-right' %}
	  {% section 'img-left-btn' %}
    {% section 'img-right-btn' %}
    {% section 'img-left-btn-2' %}
  </div>
</div>
